<section class="sec04 sec">
  <div class="items-wrapper flex">
    <a href="product.html" class="item">
      <div class="item__content">
        <h3>NEW COLLECTION</h3>
        <div class="Btn bgleft bgleft03">
          <span>もっと見る</span>
        </div>
      </div>
    </a>

    <a href="product.html" class="item">
      <div class="item__content">
        <h3>NEW COLLECTION</h3>
        <div class="Btn bgleft bgleft03">
          <span>もっと見る</span>
        </div>
      </div>
    </a>

    <a href="product.html" class="item">
      <div class="item__content">
        <h3>NEW COLLECTION</h3>
        <div class="Btn bgleft bgleft03">
          <span>もっと見る</span>
        </div>
      </div>
    </a>

    <a href="product.html" class="item">
      <div class="item__content">
        <h3>NEW COLLECTION</h3>
        <div class="Btn bgleft bgleft03">
          <span>もっと見る</span>
        </div>
      </div>
    </a>

    <a href="product.html" class="item">
      <div class="item__content">
        <h3>NEW COLLECTION</h3>
        <div class="Btn bgleft bgleft03">
          <span>もっと見る</span>
        </div>
      </div>
    </a>

  </div>
</section>


{% schema %}
{
  "name": "Toppage CollectionList",
  "tag": "section",
  "class": "section section-collection-list",
  "max_blocks": 5,
  "settings": [
  ],
  "blocks": [
  {
    "type": "featured_collection",
    "name": "t:sections.collection-list.blocks.featured_collection.name",
    "settings": [
      {
        "type": "collection",
        "id": "toppage_collection",
        "label": "Toppage_CollectionList"
      }
    ]
  }
  ]
}

{% endschema %}


<!-- "tag"は、schemaで出力される部分が何タグで囲まれるか指定している -->
<!-- "class"は、"tag"で設定した要素に対して、クラス名をつけている -->
<!-- "max_blocks"は、コレクションリストに入るコレクションの上限数を指定している -->