
  <div class="collection-wrap flex">
    
    {% assign collection = collections[section.settings.toppage_collection] %}
    {% paginate collection.products by 4 %}
    {% for product in collection.products %}
      <a class="product_card" href="{{product.url}}">
        <img alt="" src="{{product.featured_image.src | img_url: '3000x'}}">
        <h3>{{product.title}}</h3>
        <p class="price">{{product.price | money}}</p>
        <p class="Btn bgleft"><span>詳細を見る</span></p>
      </a>    
    {% endfor %}
    {% endpaginate %}  


    <!-- <a class="product_card" href="#">
      <img alt="" src="img/new/product-2.webp">
      <h3>商品3</h3>
      <p class="price">¥2,592</p>
      <p class="Btn bgleft">
        <span>詳細を見る</span>
      </p>
    </a>
    <a class="product_card" href="#">
      <img alt="" src="img/new/product-2.webp">
      <h3>商品3</h3>
      <p class="price">¥2,592</p>
      <p class="Btn bgleft">
        <span>詳細を見る</span>
      </p>
    </a>
    <a class="product_card" href="#">
      <img alt="" src="img/new/product-2.webp">
      <h3>商品3</h3>
      <p class="price">¥2,592</p>
      <p class="Btn bgleft">
        <span>詳細を見る</span>
      </p>
    </a>
    <a class="product_card" href="#">
      <img alt="" src="img/new/product-2.webp">
      <h3>商品3</h3>
      <p class="price">¥2,592</p>
      <p class="Btn bgleft">
        <span>詳細を見る</span>
      </p>
    </a>
 -->

    <!-- <a href="#" class="product_card">
      <img src="img/new/product-2.webp" alt="">
      <h3>商品3</h3>
      <p class="price">¥2,592</p>
      <p class="Btn bgleft"><span>詳細を見る</span></p>
    </a>
    <a href="#" class="product_card">
      <img src="img/new/product-2.webp" alt="">
      <h3>商品3</h3>
      <p class="price">¥2,592</p>
      <p class="Btn bgleft"><span>詳細を見る</span></p>
    </a>
    <a href="#" class="product_card">
      <img src="img/new/product-2.webp" alt="">
      <h3>商品3</h3>
      <p class="price">¥2,592</p>
      <p class="Btn bgleft"><span>詳細を見る</span></p>
    </a>
    <a href="#" class="product_card">
      <img src="img/new/product-2.webp" alt="">
      <h3>商品3</h3>
      <p class="price">¥2,592</p>
      <p class="Btn bgleft"><span>詳細を見る</span></p>
    </a> -->

  </div>

  <a class="Btn02 bgleft02" href="#">
    <span>もっと見る</span>
  </a>

</section>

{% schema %}

{
  "name": "Toppage Collection",
  "settings": [
    {
      "type": "collection",
      "id": "toppage_collection",
      "label": "Toppage Collection"
    }
  ]
}

{% endschema %}
